<!-- vim: set expandtab tabstop=2 shiftwidth=2 softtabstop=2 -->
<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="static/bootstrap.css">
    <script src="static/jquery.js"></script>
  </head>
  <body>


    <div class="container">

      <div class="col-sm-12"><h1>Best Diet Product</h1></div>

      <div class="col-sm-7">
        <img src="static/weight-loss.jpg" style="width:100%;border-radius:30px">
      </div>

      <div class="col-md-5">

      <form class="form well" id="form">
        <h3 class="form-signin-heading">Start Burning Fat Today!</h2>
        <p>First, tell us where to send your product.</p>

        <label class="sr-only">First name</label>
        <input type="text" class="form-control" placeholder="First name" required autofocus>
        <br>

        <label class="sr-only">Last name</label>
        <input type="text" class="form-control" placeholder="Last name" required>
        <br>

        <label class="sr-only">Address</label>
        <input type="text" class="form-control" placeholder="Address" required>
        <br>

        <label class="sr-only">City</label>
        <input type="text" class="form-control" placeholder="City" required>
        <br>

        <label class="sr-only">State</label>
        <input type="text" class="form-control" placeholder="State" required>
        <br>

        <label class="sr-only">Country</label>
        <input type="text" class="form-control" placeholder="Country" required>
        <br>

        <label class="sr-only">Email address</label>
        <input type="email" class="form-control" placeholder="Email addres" required>
        <br>

        <button class="btn btn-lg btn-danger btn-block" type="submit">Rush My Order!</button>
      </form>

    </div>
    </div>

    <script src="static/main.js"></script>

  </body>
</html>

