<!-- vim: set expandtab tabstop=2 shiftwidth=2 softtabstop=2 -->
<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="static/bootstrap.css">
    <script src="static/jquery.js"></script>
  </head>
  <body>

    <div class="container">

      <div class="col-sm-12"><h1>Best Diet Product</h1></div>

      <div class="col-sm-7">
        <img src="static/weight-loss.jpg" style="width:100%;border-radius:30px">
      </div>

      <div class="col-md-5">

      <form class="form well" id="form">
        <h3 class="form-signin-heading">Payment Information</h2>
        <p>Provide your payment information below.</p>
        <p>Product is $9.99 every day.</p>

        <label class="sr-only">Card number</label>
        <input type="text" class="form-control" placeholder="Card number" required autofocus>
        <br>

        <label class="sr-only">Expiration date</label>
        <div>
          <input type="text" class="form-control" style="width:50px;float:left;margin-right:10px" placeholder="MM" required>
          <input type="text" class="form-control" style="width:75px" placeholder="YYYY" required>
        </div>
        <br>

        <label class="sr-only">CVV code</label>
        <input type="text" class="form-control" placeholder="CVV" style="width:75px" required>
        <br>

        <label class="sr-only">Billing zipcode</label>
        <input type="text" class="form-control" placeholder="Billing zipcode" required>
        <br>

        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Upgrade to premium membership (+$1.99/mo)
          </label>
        </div>
        <br>

        <button class="btn btn-lg btn-danger btn-block" type="submit">Complete Purchase!</button>
      </form>

    </div>
    </div>

    <script src="static/main.js"></script>

  </body>
</html>

