<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="panel-title">
          <div class="row">
            <div class="col-xs-6">
              <h5>Congratilations on your purchase!</h5>
            </div>

            <div class="col-xs-6 hidden">
              <button type="button" class="btn btn-primary btn-block">
                <span class="glyphicon glyphicon-share-alt"></span> Continue shopping
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="panel-body">
        {{#each items}}
          <div class="row">
            <div class="col-xs-12">
              <h4 class="product-name">
                <strong>{{this.name}}</strong>
              </h4>
              <h4>
                <small>{{this.description}}</small>
              </h4>
            </div>
          </div>
          <hr />
        {{/each}}
      </div>

    </div>
  </div>
</div>
