<div class="row">
  <div class="col-md-6">
    <img src="public/toy.jpg" class="product-image">
  </div>
  <div class="col-md-6">
    <h3 class="product-title">Small Firetruck Car</h3>
    <p>
      <i class="fa fa-star gold"></i>
      <i class="fa fa-star gold"></i>
      <i class="fa fa-star gold"></i>
      <i class="fa fa-star gold"></i>
      <i class="fa fa-star-o gold"></i>
    </p>

    <hr>

    <h4 class="product-price">$9.99</h4>

    <hr>

    <div class="row">
      <div class="col-md-6">
        <button type="button" class="btn btn-primary btn-product">
          <span class="glyphicon glyphicon-thumbs-up"></span> Like 
        </button>
      </div>
      <div class="col-md-6">
        <button type="button" class="btn btn-success btn-product">
          <span class="glyphicon glyphicon-shopping-cart"></span> Add to cart 
        </button>
      </div>
    </div>

  </div>
</div>

<div class="clearfix" style="height:25px"></div>

<div class="row">
  <div class="col-sm-12">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#description" aria-controls="description" role="tab" data-toggle="tab">Description</a></li>
      <li role="presentation"><a href="#reviews" aria-controls="reviews" role="tab" data-toggle="tab">Reviews</a></li>
    </ul>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="description">
        <p>Description</p>
      </div>
      <div role="tabpanel" class="tab-pane" id="reviews">
        <p>Reviews</p>
      </div>
    </div>
  </div>
</div>

