<main id="main" role="main">
  <div class="section">
    <div class="bg-image">
      <img src="/public/images/img01.png" alt="image description" width="1786" height="1014">
    </div>
    <div class="content-holder">
      <div class="container">
        <a href="#" class="main-link">mySparklyWhitesPEN<span>.com</span></a>
        <div class="section-content" style="background: url(/public/images/img02.jpg) no-repeat 50% 0/cover;">
          <div class="left-col">
            <h1 class="title"><span>The secret to a</span>whiter smile</h1>
            <div class="text-holder">
              <div class="all-text">
                <p>At home teeth whitening systems can deliver whitening results similar to those you'll get by visiting your dentist. You can reduce the number of visits and the money spent with an at home teeth whitening system.</p>
                <p><strong>Approved by the American Dentist Association (ADA),</strong> My Sparkly Whites PEN comes complete package trays</p>
              </div>
              <img class="img-bottom" src="/public/images/img03.png" alt="image description">
            </div>
            <a href="#" class="risk-free-link">
              <div class="text-risk">
                <span class="text-try">Try Now</span>
                <span>Risk Free</span>
              </div>
              <div class="text-get">
                <h2>Get your risk free trial package now!</h2>
                <span>Noticeably whiter &amp; Brighter Teeth after just 1 use</span>
              </div>
            </a>
          </div>
          <div class="form-holder">
            <div class="text-register">
              <span>Register</span>
              <span class="text-now">Now</span>
            </div>
            <h2><span>Where Should <br>We send</span>Your Package?</h2>
            <div id="flash"></div>
            <form id="lead-form" class="submit-form">
              <fieldset>
                <input type="text" class="focus-first" name="first" placeholder="First Name" required>
                <input type="text" name="last" placeholder="Last Name" required>
                <input type="text" name="address" placeholder="Address" required>
                <input type="text" name="city" placeholder="City" required>
                <div class="row">
                  <select class="state" name="state" required>
                  </select>
                  <input type="text" class="zip-code" name="zipcode" placeholder="Zip Code" required>
                </div>
                <input type="tel" name="form[phone]" placeholder="Phone" required>
                <input type="email" name="email" placeholder="Email" required>
                <select class="country" name="country" required>
                </select>
                <button type="submit">Send</button>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section section2">
    <div class="bg-image">
      <img src="/public/images/img05.png" alt="image description" width="1920" height="1002">
    </div>
    <div class="container">
      <div class="row">
        <div class="col">
          <h1 class="title"><span>Get the Smile You</span>Deserve</h1>
          <div class="text-holder">
            <p>Handy and quick to use, My Sparkly Whites PEN allows you to whiten your teeth wherever, whenever. So convenient to bring, you’re always just a few minutes away to getting that whiter, brighter smile wherever you may be.</p>
            <p>The whitening agent and process used in My Sparkly Whites PEN have been approved by the American Dental Association (ADA), and we have thousands of happy smiling customers. Everyone wants a beautiful smile. Get yours with My Sparkly Whites PEN!</p>
            <ul class="list">
              <li>Easy to Apply</li>
              <li>Great Results At Home</li>
              <li>Reduces Costly Teeth</li>
              <li>Whitening Dental Visit</li>
            </ul>
            <div class="image-holder">
              <img src="/public/images/img06.jpg" alt="image description" width="630" height="420">
            </div>
          </div>
        </div>
        <div class="col">
          <div class="right-col">
            <div class="rotate-image">
              <img src="/public/images/img07.jpg" alt="image description" width="526" height="338">
            </div>
            <div class="inner-section">
              <h1 class="title"><span>The Safe Way to</span>Whiter Teeth</h1>
              <p>Proven safe to use on teeth minus the worries of sensitivity, My Sparkly Whites PEN effectively cleans teeth using its active whitening gel component that is 35% carbamide peroxide.</p>
              <p>With the use of the PEN to serve as protection for your soft oral tissues, complete coverage of all your surface areas are guaranteed to give you that confident, dazzling smile.</p>
              <p>With My Sparkly Whites PEN, you are rest assured of getting the same desired results that you would get from a professional dental treatment minus the expense.</p>
              <div class="img"><img src="/public/images/img08.jpg" alt="image description" width="850" height="568"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section section3">
    <div class="container">
      <div class="text-holder">
        <h1 class="title"><span>The Science of</span>White Teeth</h1>
        <p>As years go by, our teeth gradually lose their natural whiteness. Moreover, teeth also get stained from drinking coffee, tea and wine; thereby making them look dull.</p>
        <p>Thanks to My Sparkly Whites PEN though, these stains can be removed by penetrating the enamel that serves as our teeth’s covering. Breaking apart what grime that even everyday brushing can’t reach, its key ingredients work on removing stains that have hindered you from giving your best, widest smile all these years.</p>
      </div>
      <div class="img-holder">
        <img src="/public/images/img03.png" alt="image description" width="384" height="166">
      </div>
    </div>
  </div>
  <div class="section section4">
    <div class="bg-image">
      <img src="/public/images/img09.png" alt="image description" width="1920" height="915">
    </div>
    <div class="container">
      <h1 class="title"><span>Using My Sparkly Whites PEN is as Easy as 1-2-3</span>Easy, Quick &amp;<br> Effective</h1>
      <div class="row">
        <div class="col">
          <span class="icon-smile"></span>
          <strong class="sub-title">Step One</strong>
          <p>Shake the Whitening Pen to ensure that gel is mixed up</p>
        </div>
        <div class="col">
          <span class="icon-teeth"></span>
          <strong class="sub-title">Step Two</strong>
          <p>Apply slowly to each problem area on however many teeth you want</p>
        </div>
        <div class="col">
          <span class="icon-tooth"></span>
          <strong class="sub-title">Step Three</strong>
          <p>Rinse mouth thoroughly with water and smile to see new pearly, whiter teeth.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="section section5">
    <div class="container">
      <h1 class="title"><span>Be Attractive &amp;</span>Confident</h1>
      <div class="text">
        <p>If you want a smile that’s dazzlingly white to capture anyone’s attention, well, join the club. Everybody wants to flash that celebrity smile; after all, this is one of the very first things that people would notice about you and make a good impression.</p>
        <p>Discolored and stained teeth could be hindering you from getting that job you want or meeting your better half and like it or not, it’s whiter, brighter teeth that can give you the attractiveness you need to boost your personal life especially in the professional and dating aspects.</p>
        <p>What’s more, stained teeth can make you look older so with My Sparkly Whites PEN, you can look as young as 25 again. Exude confidence as you walk into a room and flash that dazzling smile!</p>
      </div>
      <div class="text-representation">
        <p>Representations regarding the efficacy and safety of My Sparkly Whites PEN have not been scientifically substantiated or evaluated by the Food and Drug Administration. Click here to find evidence of a test, analysis, research, or study describing the benefits, performance or efficacy of My Sparkly Whites PEN based on the expertise of relevant professionals.</p>
      </div>
      <div class="text-clinical">
        <p>Clinical studies have shown Carbamide Peroxide helps whiten teeth which is the effective ingredient in Brilliant Whites, see Case Study for summary.</p>
      </div>
    </div>
  </div>
</main>

