<main id="main" role="main" class="step3">
  <div class="section">
    <div class="bg-image">
      <img src="/public/images/img01.png" alt="image description" width="1786" height="1014">
    </div>
    <div class="content-holder">
      <div class="container">
        <a href="#" class="main-link">mySparklyWhitesPEN<span>.com</span></a>
        <div class="section-content">
          <p>
            Purchase was successful. This is placeholder content.
          </p>
        </div>
      </div>
    </div>
  </div>
</main>

